<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>JavaFile.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser1</servlet-name>
        <servlet-class>JavaFile.CheckUser1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePaper</servlet-name>
        <servlet-class>JavaFile.SavePaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connection</servlet-name>
        <servlet-class>JavaFile.Connection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jconnect</servlet-name>
        <servlet-class>JavaFile.Jconnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTest</servlet-name>
        <servlet-class>JavaFile.GetTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchQuestion</servlet-name>
        <servlet-class>JavaFile.FetchQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StorePaper</servlet-name>
        <servlet-class>JavaFile.StorePaper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser1</servlet-name>
        <url-pattern>/CheckUser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePaper</servlet-name>
        <url-pattern>/SavePaper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connection</servlet-name>
        <url-pattern>/Connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jconnect</servlet-name>
        <url-pattern>/Jconnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTest</servlet-name>
        <url-pattern>/GetTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchQuestion</servlet-name>
        <url-pattern>/FetchQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StorePaper</servlet-name>
        <url-pattern>/StorePaper</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
